.settingButton {
	display: flex;
	align-items: center;
	position: relative;
}
.settingButton:hover::before {
	visibility: visible;
}

.settingButton::before {
	content: "Settings";
	position: absolute;
	right: 100%;
	visibility: hidden;
}
